 <!-- Full Width Image Header with Logo -->
        <!-- Image backgrounds are set within the full-width-pics.css file. -->
        <header class="image-bg-fluid-height">
            <img class="img-responsive img-center" src="../../assets/images/sitting.jpeg" alt="">
        </header>

        <!-- Content Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        {{#each reps}}
                        <h1 class="section-heading">{{this.name}}</h1>
                        <p class="lead section-lead">{{this.party}}</p>
                        <p class="section-paragraph">Listing the most recent voting history.
                        </p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>

        
        <!-- Fixed Height Image Aside -->
        <!-- Image backgrounds are set within the full-width-pics.css file. -->
        <aside class="image-bg-fixed-height"></aside>

        <!-- Content Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Bill</th>
                                <th>Title</th>
                                <th>Official Title</th>
                                <th>Vote</th>
                              </tr>
                            </thead>
                            <!--Where the results will be pushed up-->
                            <tbody>
                            {{#each reps}}
                              <tr>
                                <td>
                                    hr-5711
                                </td>
                                <td>
                                    No U.S. Financing for Iran Act
                                </td>
                                <td>
                                    To prohibit the Secretary of the Treasury from authorizing certain transactions by a U.S. financial institution in connection with the export or re-export of a commercial passenger aircraft to the Islamic Republic of Iran.
                                </td>
                                <td>
                                   {{this.vote}}
                                </td>                                                                 
                              </tr>

                              <tr>
                                <td>
                                    hr-5982
                                </td>
                                <td>
                                    Midnight Rules Relief Act of 2016
                                </td>
                                <td>
                                    To amend chapter 8 of title 5, United States Code, to provide for en bloc consideration in resolutions of disapproval for "midnight rules", and for other purposes.
                                </td>
                                <td>
                                   {{this.vote}}
                                </td>                                                                 
                              </tr>

                              <tr>
                                <td>
                                    motion-to-hr-5711
                                </td>
                                <td>
                                    No U.S. Financing for Iran Act
                                </td>
                                <td>
                                    Motion to vote on hr-5711
                                </td>
                                <td>
                                   {{this.vote}}
                                </td>                                                                 
                              </tr>

                              <tr>
                                <td>
                                    motion-to-hr-5982
                                </td>
                                <td>
                                    Midnight Rules Relief Act of 2016
                                </td>
                                <td>
                                    Motion to vote on hr-5982
                                </td>
                                <td>
                                   {{this.vote}}
                                </td>                                                                 
                              </tr>

                              <tr>
                                <td>
                                    s-3110
                                </td>
                                <td>
                                    American Energy and Conservation Act of 2016
                                </td>
                                <td>
                                    A bill to provide for reforms of the administration of the outer Continental Shelf of the United States, to provide for the development of geothermal, solar, and wind energy on public land, and for other purposes.
                                </td>
                                <td>
                                   {{this.vote}}
                                </td>                                                                 
                              </tr>

                              {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>Bill</th>
                                <th>Sponsor</th>
                                <th>Introduced</th>
                                <th>Result</th>
                                <th>Vote</th>
                                <th>Opinion</th>
                              </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div> -->
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>